{{! Wordsmith Pro - BLOG FOOTER PARTIAL }}

<footer id="foot_wspro">
	
	<section id="foot_content">
		<ul id="sociallinks_wspro">
			<li><a href="{{@blog.url}}/rss/" class="fa fa-rss"></a></li>
			<li><a href="https://twitter.com/CasualPM" class="fa fa-twitter"></a></li>
			<li><a href="https://www.facebook.com/casual.pm" class="fa fa-facebook"></a></li>
		</ul>
	</section>
	
	<section id="copyright_wspro">
		© {{date format="YYYY"}} Casual.PM All Rights Reserved. 
	</section>
</footer>