{{! Wordsmith Pro - BLOG MENU PARTIAL }}

<nav id="menu_wspro">
	<ul>
		<li><a href="http://casual.pm/">About</a></li>
		<li><a href="http://casual.pm/">Try Casual</a></li>
		<li><a href="https://vimeo.com/47930469">Watch Demo</a></li>
	</ul>
</nav>
